pygame==2.0.1

# Sources used to prepare the program
# https://forbot.pl/forum/topic/3723-algorytmy-pid-w-robotyce-amatorskiej-linefollower-cz1-czlon-p/
#
# Description of the construction of LF robots
# https://forbot.pl/blog/kurs-budowy-robotow-line-follower-czyli-bolid-f1-id19363
#